diffusers
mediapipe>=0.10.8
transformers<5
huggingface-hub>=0.10.0
omegaconf
einops
ffmpeg-python
opencv-python
face-alignment
decord
ffmpeg-python>=0.2.0
safetensors
soundfile
DeepCache
